# GENERAL
.git
.gitignore
README.md
*.log
__pycache__/
*.py[cod]
*$py.class

# ENVIRONMENTS & CONFIGS
.env
.env.*
!.env.dev.example
.vscode/
.idea/

# TESTS & COVERAGE
.pytest_cache/
.coverage
htmlcov/
.tox/
migrations/__pycache__/
alembic/versions/__pycache__/
alembic/versions/*.pyc

# PYTHON ENVIRONMENTS
venv/
.venv/
env/
ENV/
VENV/

# DOCKER
docker-compose.dev.yml
docker-compose.prod.yml
Dockerfile*
tmp/
*.pid
*.sock

# MISC
__MACOSX/
.DS_Store
Thumbs.db