# GENERAL
.git
__pycache__/
*.py[cod]
*$py.class
*.log
*.pid
*.sock
*.db
*.sqlite3
__MACOSX/
.DS_Store
Thumbs.db

# ENVIRONMENTS & CONFIGS
.env
.env.*
!.env.dev.example
.vscode/
.idea/
.venv/
venv/
env/
ENV/
VENV/

# TESTS & COVERAGE
.pytest_cache/
.coverage
htmlcov/
.tox/
migrations/__pycache__/
alembic/versions/__pycache__/
alembic/versions/*.pyc
*.egg-info/
tmp/